<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=LAPTOP-LOBOORA0\SQLEXPRESS; &#xD;&#xA;         Initial Catalog=DEDatabase; &#xD;&#xA;         Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DefinitionExtraction.Properties.Settings.DEDatabaseConnectionString"
      connectionString="Data Source=LAPTOP-LOBOORA0\SQLEXPRESS;Initial Catalog=DEDatabase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>